#courseDetail{
	margin:auto;
	color:#555555;
	> .content{
		background: #fff;
	}
	.courseNav{
		> .content{
			background: $ibm-blue;
			position: relative;
			@include border-radius(5px 5px 0 0);
			color:#fff;
			padding:2rem 1rem;
		.title{
			float: left;
			font-size: 1.55em;
			padding:10px 0;
		}
		.right{
			position: absolute;
			right: 0;
			left: auto;
			top:0;
		}
		.time{
			padding:10px 0;
			text-align: right;
			font-size: 1.6em;
			float: right;
			display: block;
		  @media (min-width: $screen-sm-min) { 
			font-size: 2em;
		  }
		}
		.type{
			padding:10px 0;
			float: right;
			display: block;
		}
		.chapters{
			clear:both;

	ul.carousel{
		height: 150px;
		  @media (min-width: $screen-sm-min) { 
		  	height:auto;
		  }
		li{
			padding:35px 0 15px;
			color:#fff;
			width:100%;
			span{
				padding-top: 45px;
				display: block;
				text-align: center;
			}
			&:after{
				content:" ";
				display: none;
			}
		}
	}


			ul{
				@include clearfix();
				margin: 0;
				padding:0;
				li{
					list-style: none;
					margin: 0;
					padding: 0;
					display: block;
					width:19%;
					float: left;
					&:before{
						display:none;
					}
					&:after{
						content:" ";
						display: block;
						background: #fff;
						height: 1px;
						width:100%;
						margin-top: -1em;
					}
					&:last-child:after{
						display: none;
					}
				}
			}
		}
		}
	} //courseNav
	.tools{
		@inlcude clearfix();
		background: $ibm-background;
		color:$ibm-dark-grey;
		a{
			padding:10px 0;
			img{
				padding-right: 10px;
			}
		}
	}
	.tags{
		padding:.5em 0;
	}
	.tag{
		margin-right:1em;
		&:last-child{
			margin-right:0;
		}
	}
	.detail{
		background: #fff;
		margin:2em auto;
		padding-top:2em;
		padding-bottom:2em;
		@include cardBottom();
		@include clearfix();
	}
	.extraDetails{
		>div{
			padding-bottom:25px;
		}
		.ratings{
			display: block;
		}
		.profilePic{
			float: left;
			margin-right: 20px;
			img{
				@include border-radius(100%);
			}
		}
	}
	add-note{
		position: absolute;
		right: 15px;
		height: 50px;
		min-width:100px;
		padding:0;
 		 @include transition(all .4s);
 		 cursor: pointer;
		 top: 45px;
	  @media (min-width: $screen-sm-min) { 
			top: 60px;
	  }
	  img{
	  	position: relative;
	  	top: 5px;
	  }
	}
	.addNote{
		color: $ibm-dark-grey;
		background: rgba($ibm-light-grey,.9);
		position: fixed;
		z-index: 10;
		max-height: 0;
		overflow: hidden;
		left:0;
		top:0px;
		width:100%;
 		 @include transition(max-height .4s);
 		 cursor: default;
		 .content{
			padding:5% 10%;
		}
	  @media (min-width: $screen-sm-min) { 
		height: auto;
		position: absolute;
	  	left:auto;
		right:-15px;
		top: 54px;
		width:400px;
	  }
	  label{
	  	display: block;
	  }
	  input,textarea{
	  	width:100%;
	  }
	  a{
	  	display: block;
	  }
	}
	.open {
	  @media (min-width: $screen-sm-min) { 
		//background: $ibm-light-grey;
		> img,>span{
			//visibility: hidden;
		}
	  }
		.addNote{
			max-height: 400px;
		}
	}
}

ul.timeLine li{
	display: inline-block;
	list-style: none;
	&:before{
		display:none;
	}
	&:after{
		content:" ";
		display: block;
		background: #fff;
		height: 1px;
		width:100%;
		margin-top: -1em;
	}
	a.fa{
	border:1px solid #fff;
	@include border-radius(5rem);
	  font-size: .7rem;
	  padding: 0.5rem .6rem;
	  background:$ibm-blue;
			@media (min-width: $screen-sm-min) { 
	  font-size: 1.5rem;
	  padding: 0.5rem .7rem;
			}
	  &:hover,&.complete{
	  	&:before{
		  	color:$ibm-blue;
		  }
	  	background: #fff;
	  }
	  &:hover,&:active,&:focus{
	  	text-decoration: none;
	  }
	  .fa-check{
	  	padding:0.5rem;
	  }
	} 
}

.relatedContent{
	width:100%;
	> div{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		> div {
			min-width: 230px;
			padding: 10px;
		}
	}
	 h2{
		padding:1em 2em;
	}
}

.rn-carousel-control.rn-carousel-control-next{
		&:before{
			content:" "!important;
			display: block;
			height: 40px;
			width:26px;
			background:url('/images/icons/nextArrow.png') no-repeat;
		}
	}
.rn-carousel-control.rn-carousel-control-prev{
		&:before{
			content:" "!important;
			display: block;
			height: 40px;
			width:26px;
			background:url('/images/icons/prevArrow.png') no-repeat;
		}

}
