span(ng-click="toggleNote()")
	img(src="/images/icons/notes.png")
	| Add a note
.addNote
	.content
		h2 Add a note
		label Note Tile:		
		input
		label Note Text:
		textarea
		a(ng-click="closeNote()") Cancel