.card{
	//width:100%;
	max-width: 230px;
	padding:0;
	margin:0;
    height: 300px;
    overflow: hidden;
    position: relative;
	&:before{
		content:' ';
		display:block;
		position: relative;
		height: 25px;
		background: inherit;
    	background: #fff;
	}
    .content{
    	background: #fff;
    	height: 100%;
    	padding:0 10px;
    	.difficulty{
    		&:before{
    			content:" ";
    			display: inline-block;
    		}
    		font-size: 14px;
    		color:#999999;
    	}
	    a.header{
			display: block;
			color:$navy;
			font-size:20px;
    		line-height: 21px;
    		font-weight: bold;
			span{

			}
		}
		p{
			margin: .2em 0;
		}
		.catagory{
			font-size: .8em;
		}
		.details{
			
		}
		&.cloud{
		}
		.tags{
			position: absolute;
			bottom: 125px;
		}
		.activity{		
			position: absolute;
  			bottom: 10px;
  			width:100%;
  			padding-right: 20px;
			a{
				display: block;
				color: $orange;
				font-weight: bold;
				width:100%;
				span{
					display: block;
					float: left;
					font-size: 14px;
					line-height: 16px;
					&.playBtn{
						height:28px;
						width:28px;
						position: relative;
						margin-right: 10px;
					}
					&.chevron{
						  font-size: 26px;
						  float: right;
					}
				}
				+ span:before{
					content: ' ● ';
					margin:0  7px;
				}
			}
			.play{
				@include clearfix();
				.resume a .playBtn{
					background: url('/images/icons/play-btn-orange.png') no-repeat 50% 50%;
				}
				.start a .playBtn{
					background: url('/images/icons/play-btn-white.png') no-repeat 50% 50% $ibm-blue;
					@include border-radius(100%);
				}
				.external{
					a{
						color: $navy;
						 .playBtn{
							background: url('/images/icons/card-external.png') no-repeat 50% 50%;
						}
					}
				}
			}
		}
		ul.timeLine{
			display: block;
			margin: auto;
			li a.fa.complete{
				background: $ibm-blue;
				color:#fff;
				&:before{
					color:#fff;				
				}
			}
			li a.fa{
				background: $ibm-light-grey;
				color: $ibm-grey;
			}
		}
	}

    &.roadmap{
		&:before{
			//right:25px;
	    	background: $navy;
		}
    	a.header{
    		color: #fff;
    	}
    	.content{
	    	background: $navy;
	    	.play a{
	    		color:#fff;
	    		font-weight: normal;
	    	}
	    }
	}
}