/*!
 * 
 * Angle - Bootstrap Admin App
 * 
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses
 * 
 */
@import "compass/css3";
// Override bootstrap variables
@import "app/variables";

// Bootstrap
@import "bootstrap/bootstrap";

// Global definition of media queries
@import "app/media-queries";
// Utilities 
@import "app/utils-definitions";

// Plugins
@import "../../vendor/ngDialog/css/ngDialog.css";
@import "../../vendor/ngDialog/css/ngDialog-theme-default.css";

// Bootstrap reset
@import "app/bootstrap-reset";


// IBM v18
@import "v18/application";

// IBM PW
@import "pw/variables";
@import "pw/fonts";
@import "pw/mixins";

.ibm-type{
    font-family:"HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial;
    color:#222;
    background-color:$ibm-background;
  font-size: 12px;
  @media (min-width: screen-xs-min) { 
      font-size: 14px;
   }
  @media (min-width: $screen-sm-min) { 
      font-size: 16px;
   }
footer{
    padding: 2em;
}
a {
	color: inherit;
}
h1,h2,h2,h4,h5{
	font-weight: normal;
	@include useLubalinGraphStdBookIBM()
}
h2{
	font-size: 1.8em;
	@include useLubalinGraphStdBookIBM();
	padding-bottom: 15px;
	a{
		font-size: .6em;
		color:$ibm-dark-grey;
	}
}
.wrapper{
	@include clearfix();
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.blueText{
	color: $ibm-blue;
}
.tooltip .tooltip-inner {
	font-size: .9em;
	background: #fff;
	border:1px solid $ibm-blue;
	color: $ibm-blue;
	z-index: 1;
	padding:.5em 1em;
  	max-width: 300px;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
  margin-left: -10px;
  border-width: 0 11px 11px;
  z-index: 2;
}

.breadcrumb{
	display: block;
	&:before{
		content:" < ";
		display: inline-block;
		padding-right: 10px;
	}
}

.ibm-container .ibm-tab-section.ibm-text{
	border:0;
	.ibm-tabs{
		li{
			font-weight: normal;
			@include useLubalinGraphStdBookIBM();
			a{
				color:#cccccc;
				&:hover{
					color:$ibm-blue;
				}
			}
			&.ibm-active a{
				color:#000;
				&:hover{
					color:#000;
				}
			}
		}
	}	
}
.tag{
	@include tag();
}
@import "pw/cards";
@import "pw/pages/courseDetail";



@import "pw/pages/ngDialog";

}