/*!
 * 
 * Angle - Bootstrap Admin App
 * 
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses
 * 
 */
@import "compass/css3";
// Override bootstrap variables
@import "app/variables";

// Bootstrap
@import "bootstrap/bootstrap";

// Global definition of media queries
@import "app/media-queries";
// Utilities 
@import "app/utils-definitions";

// Bootstrap reset
@import "app/bootstrap-reset";


// IBM v18
//@import "v18/application";

// IBM PW
@import "pw/variables";
@import "pw/fonts";
@import "pw/mixins";
@import "pw/cards";

body.ibm-type{
    font-family:"HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial;
    font-size: 16px;
    color:#222;
    background-color:$ibm-background;
}
footer{
    padding: 2em;
}
.ibm-type{
	a {
		color: inherit;
	}
	h1,h2,h2,h4,h5{
		font-weight: normal;
	}
	h2{
		font-size: 1.2em;
		@include useLubalinGraphStdBookIBM()
	}
}
.wrapper{
	@include clearfix();
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.blueText{
	color: $ibm-blue;
}
.tooltip .tooltip-inner {
	font-size: .9em;
	background: #fff;
	border:1px solid $ibm-blue;
	color: $ibm-blue;
	z-index: 1;
	padding:.5em 1em;
  	max-width: 300px;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
  margin-left: -10px;
  border-width: 0 11px 11px;
  z-index: 2;
}

@import "pw/pages/courseDetail";
