div#courseDetail
	div.courseNav.col-md-12
		.content.clearfix
			h1.title.col-md-9 {{courseDetails.title}}
			.right
				span.type {{courseDetails.format}}
				span.time {{courseDetails.timeStats.timeSpent}} mins
			div.chapters.col-sm-9.no-gutters
				ul.carousel.clearfix(rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" ng-show="isMobile()")
					li(ng-repeat="c in courseDetails.chapters")
						span {{c.tip}}
				ul.timeLine(rn-carousel-index="carouselIndex")
					li(ng-repeat="c in courseDetails.chapters")
						a.fa(href="#chapter-{{$index}}" ng-class="c.class" tooltip-placement="bottom" tooltip="{{c.tip}}")
			add-note
	
			
				
	.col-md-12
		div#ibm-dynid-18_playercontainer
			a.ibm-video-placeholder(href="#")
				img(src="/images/fpo-video.png" width="100%" height="100%" alt="Kaltura Education Video Solutions")
	.tools.col-sm-12.clearfix
		.col-md-6.no-gutters.pull-right
			a.col-xs-3.no-gutters
				img(src="/images/icons/bookmark.png")
				| bookmark
			a.col-xs-3.no-gutters
				img(src="/images/icons/download.png")
				| Download
			a.col-xs-3.no-gutters
				img(src="/images/icons/transcript.png")
				| Transcript
			a.col-xs-3.no-gutters(ng-click="clickToOpen('email')")
				img(src="/images/icons/email.png")
				| Email
	.col-md-12
		.detail
			.col-md-8.clearfix
				h2 Description:

				p
					span.instructor {{courseDetails.instructor.name}}
					span.updated Updated 2/2014
				p.description
				| Greak Text
				h2 Roadmaps:
					a.roadmap IBM Cloud Readiness Roadmap
				.tags
					h2 Related Tags:
					a.tag(ng-repeat="(tag, link)  in courseDetails.relatedTags" ng-href="{{link}}") {{tag}}
					
				include partials/_tabs
					//- ul
					//- 	li
					//- 		a(href="#notes") Teachers Notes
					//- 	li(href="#resources")
					//- 		a Resources
					//- #notes
					//- 	| Greek Text about Notes
					//- 	a(href="#more") Read More
					//- #resources
					//- 	| Greek Text about Resources
					//- 	a(href="#more") Read More


			.extraDetails.col-md-4
				.wylearn
					h2 What You Learn
					ul
						li What is Cloud?
						li How to write basic HTML
						li Hto to upload files
						li How to style web pages
				.rating
					h2 Average Rating
					span.fa(ng-repeat="star in courseDetails.rating.stars" ng-class="{'fa-star blueText': star == 1, 'fa-star-half-o blueText':  star == .5, 'fa-star-o': star == 0}")
					span.ratings {{ courseDetails.rating.text }}
				.instructorDetail
					h2 About the Instructor
					span.profilePic
						img(ng-src="{{courseDetails.instructor.image}}")
					.info
						.name {{courseDetails.instructor.name}}
						.title {{courseDetails.instructor.title}}
						.email 
							a(ng-click="clickToOpen()" target="_blank") Ask a Question
					.description.clearfix
					| {{courseDetails.instructor.description}}
	.col-md-12.relatedContent.no-gutters(ng-show="courseDetails.relatedContent")
		h2 Related Courses:
		.col-md-6(ng-repeat="card in courseDetails.relatedContent")
			.card(class="{{card.catagory.toLowerCase()}}")
				a.header {{card.title}}
					span.difficulty.easy
				.content
					p.catagory Course Catagory: {{card.catagory}}
					p.description {{card.description}}
					.tags
						a.tag(ng-repeat="tag in card.tags" ng-href="{{tag.link}}") {{tag.name}}
					.activity
						div.play
							.resume(ng-show="{{card.remaining < card.duration}}")
								a
									span.playBtn(progress-bar remaining="{{card.remaining}}" duration="{{card.duration}}")
									span Resume
								span {{card.remaining}} mins remaining
							.start(ng-show="{{card.remaining == card.duration}}")
								a
									span.playBtn
									span Play
								span {{card.duration}} mins remaining
						.courseNav
							ul.timeLine
								li(ng-repeat="c in card.chapters")
									a.fa(href="#chapter-{{$index}}" ng-class="c.class" tooltip-placement="bottom" tooltip="{{c.tip}}")

