<div class="ibm-col-6-6">
   <div class="ibm-container ibm-dyntabs">
      <div class="ibm-tab-section ibm-text">
         <h2 class="ibm-access">Tab navigation</h2>
         <ul class="ibm-tabs">
            <li class="ibm-first-tab ibm-active"><a href="#notes">Teachers Notes            </a>
            </li>
            <li class="ibm-last-tab"><a href="#resources">Resources</a>
            </li>
         </ul>
      </div>
      <div class="ibm-container-body">
         <div id="notes" class="ibm-tabs-content">
            <p>
               <h3>Notes</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip asdfmk natapper. Mollit
               anim id est laborum.
               <br/><a href="#more">Read More</a>
            </p>
         </div>
         <div id="resources" class="ibm-tabs-content">
            <p>
               <h3>Resources</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip asdfmk natapper.
               Mollit anim id est laborum.
               <br/><a href="#more">Read More</a>
            </p>
         </div>
      </div>
   </div>
</div>