.ibm-col-6-6
   .ibm-container.ibm-dyntabs
     .ibm-tab-section.ibm-text
       h2.ibm-access Tab navigation
       ul.ibm-tabs
         li.ibm-first-tab.ibm-active
           a(href='#notes') Teachers Notes            
         li.ibm-last-tab
           a(href='#resources') Resources
     .ibm-container-body
       #notes.ibm-tabs-content
        p 
         h3 Notes
         | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip asdfmk natapper. Mollit anim id est laborum.
         br
         a(href="#more") Read More
       #resources.ibm-tabs-content 
        p 
         h3 Resources
         | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip asdfmk natapper. Mollit anim id est laborum.
         br
         a(href="#more") Read More
