<div class="emailCourse">
   <h2>Email this Course:</h2>
   <h1>{{courseDetails.title}}</h1>
   <span class="url">http://www.ibm.com/partnerworlduniversity/course/clouddefined</span>
   <label>To:</label>
   <input type="email" placeholder="Friend's email" />
   <label>From:</label>
   <input type="email" placeholder="somebodyus.ibm.com" />
   <label>Note</label>
   <textarea placeholder="Optional"></textarea>
   <div class="submit"><a ng-click="closeThisDialog()">Cancel</a>
      <button class="tag">Send</button>
   </div>
</div>