doctype strict
html(lang="en", data-ng-app="pwu")

	head
		include ./views/partials/_head

	body#ibm-com.ibm-type.ibm-cdds-page.v17(aria-busy='false' broadcast-events)
		include ./views/partials/_nav

		.wrapper.container
			.breadcrumb(ng-show="breadCrumb") 
				a(ng-href="{{breadCrumb.url}}") {{breadCrumb.text}}
			block main-content

		include ./views/partials/_footer

		include ./views/partials/_scripts


