<div id="dashboard">
   <nav>
      <img src="/images/dashboard/topNav.png" />
   </nav>
   <div id="wrapper">
      <div class="panels">
         <div class="slide slide1 hiddenTop">
            <img src="/images/dashboard/panel1.png" />
         </div>
         <div class="slide slide2 hiddenTop">
            <img src="/images/dashboard/panel2.png" />
         </div>
         <div class="slide slide3 hiddenTop">
            <img src="/images/dashboard/panel3.png" />
         </div>
      </div>
      <div class="video">
         <img src="/images/dashboard/video.png" />
      </div>
   </div>
</div>