<div id="courseDetail">
   <div class="courseNav col-md-12">
      <div class="content clearfix">
         <h1 class="title col-md-9">{{courseDetails.title}}</h1>
         <div class="right">
            <span class="type">{{courseDetails.format}}</span>
            <span class="time">{{courseDetails.timeStats.timeSpent}} mins</span>
         </div>
         <div class="chapters col-sm-9 no-gutters">
            <ul rn-carousel="rn-carousel" rn-carousel-controls="rn-carousel-controls" rn-carousel-index="carouselIndex" ng-show="isMobile()" class="carousel clearfix">
               <li ng-repeat="c in courseDetails.chapters">
                  <span>{{c.tip}}</span>
               </li>
            </ul>
            <ul rn-carousel-index="carouselIndex" class="timeLine">
               <li ng-repeat="c in courseDetails.chapters">
                  <a href="#chapter-{{$index}}" ng-class="c.class" tooltip-placement="bottom" tooltip="{{c.tip}}" class="fa"></a>
               </li>
            </ul>
         </div>
         <add-note></add-note>
      </div>
   </div>
   <div class="col-md-12">
      <div id="ibm-dynid-18_playercontainer">
         <a href="#" class="ibm-video-placeholder">
            <img src="/images/fpo-video.png" width="100%" height="100%" alt="Kaltura Education Video Solutions" />
         </a>
      </div>
   </div>
   <div class="tools col-sm-12 clearfix">
      <div class="col-md-6 no-gutters pull-right">
         <a class="col-xs-3 no-gutters">
            <img src="/images/icons/bookmark.png" />bookmark</a>
         <a class="col-xs-3 no-gutters">
            <img src="/images/icons/download.png" />Download</a>
         <a class="col-xs-3 no-gutters">
            <img src="/images/icons/transcript.png" />Transcript</a>
         <a ng-click="clickToOpen('email')" class="col-xs-3 no-gutters">
            <img src="/images/icons/email.png" />Email</a>
      </div>
   </div>
   <div class="col-md-12">
      <div class="detail">
         <div class="col-md-8 clearfix">
            <h2>Description:</h2>
            <p>
               <span class="instructor">{{courseDetails.instructor.name}}</span>
               <span class="updated">Updated 2/2014</span>
            </p>
            <p class="description"></p>Greak Text
            <h2>Roadmaps:<a class="roadmap">IBM Cloud Readiness Roadmap</a>
            </h2>
            <div class="tags">
               <h2>Related Tags:</h2><a ng-repeat="(tag, link)  in courseDetails.relatedTags" ng-href="{{link}}" class="tag">{{tag}}</a>
            </div>
            <div class="ibm-col-6-6">
               <div class="ibm-container ibm-dyntabs">
                  <div class="ibm-tab-section ibm-text">
                     <h2 class="ibm-access">Tab navigation</h2>
                     <ul class="ibm-tabs">
                        <li class="ibm-first-tab ibm-active"><a href="#notes">Teachers Notes            </a>
                        </li>
                        <li class="ibm-last-tab"><a href="#resources">Resources</a>
                        </li>
                     </ul>
                  </div>
                  <div class="ibm-container-body">
                     <div id="notes" class="ibm-tabs-content">
                        <p>
                           <h3>Notes</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip asdfmk
                           natapper. Mollit anim id est laborum.
                           <br/><a href="#more">Read More</a>
                        </p>
                     </div>
                     <div id="resources" class="ibm-tabs-content">
                        <p>
                           <h3>Resources</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip asdfmk
                           natapper. Mollit anim id est laborum.
                           <br/><a href="#more">Read More
</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="extraDetails col-md-4">
            <div class="wylearn">
               <h2>What You Learn</h2>
               <ul>
                  <li>What is Cloud?</li>
                  <li>How to write basic HTML</li>
                  <li>Hto to upload files</li>
                  <li>How to style web pages</li>
               </ul>
            </div>
            <div class="rating">
               <h2>Average Rating</h2>
               <span ng-repeat="star in courseDetails.rating.stars" ng-class="{'fa-star blueText': star == 1, 'fa-star-half-o blueText':  star == .5, 'fa-star-o': star == 0}" class="fa"></span>
               <span class="ratings">{{ courseDetails.rating.text }}</span>
            </div>
            <div class="instructorDetail">
               <h2>About the Instructor</h2>
               <span class="profilePic">
                  <img ng-src="{{courseDetails.instructor.image}}" />
               </span>
               <div class="info">
                  <div class="name">{{courseDetails.instructor.name}}</div>
                  <div class="title">{{courseDetails.instructor.title}}</div>
                  <div class="email"> <a ng-click="clickToOpen()" target="_blank">Ask a Question</a>
                  </div>
               </div>
               <div class="description clearfix"></div>{{courseDetails.instructor.description}}</div>
         </div>
      </div>
   </div>
   <div ng-show="courseDetails.relatedContent" class="col-md-12 relatedContent no-gutters">
      <h2>Related Courses:</h2>
      <div ng-repeat="card in courseDetails.relatedContent" class="col-md-6">
         <div class="card {{card.catagory.toLowerCase()}}"><a class="header">{{card.title}}<span class="difficulty easy"></span></a>
            <div class="content">
               <p class="catagory">Course Catagory: {{card.catagory}}</p>
               <p class="description">{{card.description}}</p>
               <div class="tags"><a ng-repeat="tag in card.tags" ng-href="{{tag.link}}" class="tag">{{tag.name}}</a>
               </div>
               <div class="activity">
                  <div class="play">
                     <div ng-show="{{card.remaining &lt; card.duration}}" class="resume">
                        <a>
                           <span progress-bar="progress-bar" remaining="{{card.remaining}}" duration="{{card.duration}}" class="playBtn"></span>
                           <span>Resume</span>
                        </a>
                        <span>{{card.remaining}} mins remaining</span>
                     </div>
                     <div ng-show="{{card.remaining == card.duration}}" class="start">
                        <a>
                           <span class="playBtn"></span>
                           <span>Play</span>
                        </a>
                        <span>{{card.duration}} mins remaining</span>
                     </div>
                  </div>
                  <div class="courseNav">
                     <ul class="timeLine">
                        <li ng-repeat="c in card.chapters">
                           <a href="#chapter-{{$index}}" ng-class="c.class" tooltip-placement="bottom" tooltip="{{c.tip}}" class="fa"></a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>